/*Positionering*/
article {
    text-align: center;
    z-index: -1;
    height: 50%;
    top: 40%;
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

th:nth-child(1) {
    border-top-left-radius: 1em;
}
th:nth-child(2) {
    border-top-right-radius: 1em;
}
.rightbottomhoek {
    border-bottom-right-radius: 1em;
}
.leftbottomhoek {
    border-bottom-left-radius: 1em;
}

th {
    color: white;
    padding: 10px;
    font-size: 1.1em;
    background-color: #DE2A48;
    border-bottom: 5px solid white;
}
td {
    padding: 10px;
    background-color: #DE2A40;
}
td a {
    text-decoration: none;
    color: white;
}
td a:hover {
    color: #DE2A48;
}
td:hover {
    background-color: white;
}

/*Klein formaat*/
.klein {
    display: none;
}

/*Media queries voor responsivness*/
@media screen and (max-width : 1250px){
    /*Groot formaat*/
    .groot {
        display: none;
    }

    .klein {
        display: inline-block;
    }
    article {
        left: 5%;
        right: 5%;
        width: 90%;
    }
}