h2 {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid #DE2A48;
}
article {
    text-align: center;
    z-index: -1;
    height: 50%;
    top: 40%;
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
}
table {
    margin-top: 10%;
    width: 100%;
    border-collapse:collapse;
}
td {
    background-color: black;
    width: 14%;
    height: 50px;
    color: white;
    margin-left: 0;
    margin-right: 0;
}
td a {
    color: white;
    text-decoration: none;
}