p a{
    color: white;
    text-decoration: none;
}
section {
    background-color: #162EB8;
}
p {
    padding-top: 25px;
    height: 50px;
}
p:hover {
    background-color: #001799;
}
h2 {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid #DE2A48;
}
article {
    text-align: center;
    z-index: -1;
    height: 50%;
    top: 40%;
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
}
table {
    margin-top: 10%;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
}
td {
    background-color: #162EB8;
    width: 14%;
    height: 50px;
    color: white;
    margin-left: 0;
    margin-right: 0;
}
td a {
    color: white;
    text-decoration: none;
}
td:hover {
    background-color: #001799;
}
.klein {
    display: none;
}

@media screen and (max-width : 1250px){ 
    .groot {
        display: none;
    }
    .klein {
        display: inline-block;
    }
    article {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}